.button {
  border: none;
  border-radius: 4px;

  color: var(--text-white);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button-icon {
  padding: 0;
}

.button--icon-position--right {
  flex-direction: row-reverse;
}

.button:disabled,
.button:disabled:hover {
  border: none;

  color: var(--text-neutral-400);

  background-color: var(--bg-neutral-100);
}

/* Button Sizes */
.button--size--md {
  padding: 10px 14px;

  font-size: 14px;
  line-height: 20px;
}
.button--size--lg {
  padding: 10px 16px;

  font-size: 16px;
  line-height: 24px;
}
.button--size--xl {
  padding: 12px 20px;

  font-size: 16px;
  line-height: 24px;
}
.button--size--2xl {
  padding: 16px 24px;

  font-size: 18px;
  line-height: 28px;
}
.button-icon--size--md {
  padding: 10px;
}
.button-icon--size--lg {
  padding: 12px;
}
.button-icon--size--xl {
  padding: 14px;
}
.button-icon--size--2xl {
  padding: 16px;
}

/* Button Colors - Primary */
.button--color--primary {
  background-color: var(--bg-indigo-700);
}
.button--color--primary:hover {
  background-color: var(--color-indigo-800);
}
.button--color--primary:focus {
  background-color: var(--color-indigo-800);
}
.button--color--primary:disabled,
.button--color--primary:disabled:hover {
}

/* Button Colors - Secondary */
.button--color--secondary {
  --button--color--secondary-border-width: 0.5px;

  border: var(--button--color--secondary-border-width) solid
    var(--border-neutral-200);

  color: var(--text-neutral-900);

  background-color: var(--bg-white);
}
.button--color--secondary.button--size--md {
  padding: calc(10px - var(--button--color--secondary-border-width))
    calc(14px - var(--button--color--secondary-border-width));
}
.button--color--secondary.button--size--lg {
  padding: calc(10px - var(--button--color--secondary-border-width))
    calc(16px - var(--button--color--secondary-border-width));
}
.button--color--secondary.button--size--xl {
  padding: calc(12px - var(--button--color--secondary-border-width))
    calc(20px - var(--button--color--secondary-border-width));
}
.button--color--secondary.button--size--2xl {
  padding: calc(16px - var(--button--color--secondary-border-width))
    calc(24px - var(--button--color--secondary-border-width));
}
.button--color--secondary.button-icon--size--md {
  padding: calc(10px - var(--button--color--secondary-border-width));
}
.button--color--secondary.button-icon--size--lg {
  padding: calc(12px - var(--button--color--secondary-border-width));
}
.button--color--secondary.button-icon--size--xl {
  padding: calc(14px - var(--button--color--secondary-border-width));
}
.button--color--secondary.button-icon--size--2xl {
  padding: calc(16px - var(--button--color--secondary-border-width));
}

.button--color--secondary:hover {
  --button--color--secondary--hover-border-width: 1px;

  border: var(--button--color--secondary--hover-border-width) solid
    var(--border-neutral-200);

  color: var(--text-neutral-950);

  background-color: var(--bg-neutral-50);
}
.button--color--secondary:hover.button--size--md {
  padding: calc(10px - var(--button--color--secondary--hover-border-width))
    calc(14px - var(--button--color--secondary--hover-border-width));
}
.button--color--secondary:hover.button--size--lg {
  padding: calc(10px - var(--button--color--secondary--hover-border-width))
    calc(16px - var(--button--color--secondary--hover-border-width));
}
.button--color--secondary:hover.button--size--xl {
  padding: calc(12px - var(--button--color--secondary--hover-border-width))
    calc(20px - var(--button--color--secondary--hover-border-width));
}
.button--color--secondary:hover.button--size--2xl {
  padding: calc(16px - var(--button--color--secondary--hover-border-width))
    calc(24px - var(--button--color--secondary--hover-border-width));
}
.button--color--secondary:hover.button-icon--size--md {
  padding: calc(10px - var(--button--color--secondary--hover-border-width));
}
.button--color--secondary:hover.button-icon--size--lg {
  padding: calc(12px - var(--button--color--secondary--hover-border-width));
}
.button--color--secondary:hover.button-icon--size--xl {
  padding: calc(14px - var(--button--color--secondary--hover-border-width));
}
.button--color--secondary:hover.button-icon--size--2xl {
  padding: calc(16px - var(--button--color--secondary--hover-border-width));
}

.button--color--secondary:focus {
  --button--color--secondary--focus-border-width: 1px;

  border: var(--button--color--secondary--focus-border-width) solid
    var(--border-neutral-200);

  color: var(--text-neutral-950);

  background-color: var(--bg-neutral-50);
}
.button--color--secondary:focus.button--size--md {
  padding: calc(10px - var(--button--color--secondary--focus-border-width))
    calc(14px - var(--button--color--secondary--focus-border-width));
}
.button--color--secondary:focus.button--size--lg {
  padding: calc(10px - var(--button--color--secondary--focus-border-width))
    calc(16px - var(--button--color--secondary--focus-border-width));
}
.button--color--secondary:focus.button--size--xl {
  padding: calc(12px - var(--button--color--secondary--focus-border-width))
    calc(20px - var(--button--color--secondary--focus-border-width));
}
.button--color--secondary:focus.button--size--2xl {
  padding: calc(16px - var(--button--color--secondary--focus-border-width))
    calc(24px - var(--button--color--secondary--focus-border-width));
}
.button--color--secondary:focus.button-icon--size--md {
  padding: calc(10px - var(--button--color--secondary--focus-border-width));
}
.button--color--secondary:focus.button-icon--size--lg {
  padding: calc(12px - var(--button--color--secondary--focus-border-width));
}
.button--color--secondary:focus.button-icon--size--xl {
  padding: calc(14px - var(--button--color--secondary--focus-border-width));
}
.button--color--secondary:focus.button-icon--size--2xl {
  padding: calc(16px - var(--button--color--secondary--focus-border-width));
}

.button--color--secondary:disabled,
.button--color--secondary:disabled:hover {
}
.button--color--secondary:disabled.button-icon--size--md,
.button--color--secondary:disabled:hover.button-icon--size--md {
  padding: 10px;
}
.button--color--secondary:disabled.button-icon--size--lg,
.button--color--secondary:disabled:hover.button-icon--size--lg {
  padding: 12px;
}
.button--color--secondary:disabled.button-icon--size--xl,
.button--color--secondary:disabled:hover.button-icon--size--xl {
  padding: 14px;
}
.button--color--secondary:disabled.button-icon--size--2xl,
.button--color--secondary:disabled:hover.button-icon--size--2xl {
  padding: 16px;
}

/* Button Colors - Tertiary */
.button--color--tertiary {
  color: var(--text-indigo-700);

  background-color: transparent;
}
.button--color--tertiary:hover {
  background-color: var(--bg-neutral-50);
}
.button--color--tertiary:focus {
  background-color: var(--bg-neutral-50);
}
.button--color--tertiary:disabled,
.button--color--tertiary:disabled:hover {
  background-color: transparent;
}

/* Button Colors - Link Color */
.button--color--link-color {
  padding: 0;

  color: var(--text-indigo-700);

  background-color: transparent;
}
.button--color--link-color:hover {
  color: var(--text-indigo-800);
}
.button--color--link-color:focus {
  color: var(--text-indigo-800);

  background-color: var(--bg-white);
}
.button--color--link-color:disabled,
.button--color--link-color:disabled:hover {
  background-color: transparent;
}

/* Button Colors - Link Gray */
.button--color--link-gray {
  padding: 0;

  color: var(--text-neutral-900);

  background-color: transparent;
}
.button--color--link-gray:hover {
  color: var(--text-neutral-900);
}
.button--color--link-gray:focus {
  color: var(--text-neutral-900);

  background-color: var(--bg-white);
}
.button--color--link-gray:disabled,
.button--color--link-gray:disabled:hover {
  background-color: transparent;
}

/* Button Colors - Destructive */
.button--color--destructive {
  color: var(--text-white);

  background-color: var(--bg-red-600);
}
.button--color--destructive:hover {
  background-color: var(--bg-red-700);
}
.button--color--destructive:focus {
  background-color: var(--bg-red-700);
}
.button--color--destructive:disabled,
.button--color--destructive:disabled:hover {
  background-color: transparent;
}

/* Button Icon Size */
.button__icon {
  height: 20px;
  width: 20px;
}
.button__icon--size--md {
  width: 20px;
  height: 20px;
}
.button__icon--size--lg {
  width: 20px;
  height: 20px;
}
.button__icon--size--xl {
  width: 20px;
  height: 20px;
}
.button__icon--size--2xl {
  width: 24px;
  height: 24px;
}
