.button {
  border: none;
  border-radius: 4px;

  color: var(--color-white);

  background-color: var(--color-indigo-700);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button:hover {
  cursor: pointer;
}

.button--icon-position--right {
  flex-direction: row-reverse;
}

/* Button Sizes */
.button--size--md {
  padding: 10px 14px;

  font-size: 14px;
  line-height: 20px;
}
.button--size--lg {
  padding: 10px 16px;

  font-size: 16px;
  line-height: 24px;
}
.button--size--xl {
  padding: 12px 20px;

  font-size: 16px;
  line-height: 24px;
}
.button--size--2xl {
  padding: 16px 24px;

  font-size: 18px;
  line-height: 28px;
}

/* Button Size with Icon Only */
.button--size--md.button--icon-only {
  padding: 10px;
}
.button--size--lg.button--icon-only {
  padding: 12px;
}
.button--size--xl.button--icon-only {
  padding: 14px;
}
.button--size--2xl.button--icon-only {
  padding: 16px;
}

/* Button Colors */
/* Primary */
.button--color--primary {
}
.button--color--primary:hover {
  background-color: var(--color-indigo-800);
}
.button--color--primary:focus {
  background-color: var(--color-indigo-800);
}
.button--color--primary:disabled {
  color: var(--color-neutral-400);
  background-color: var(--color-neutral-100);
}
.button--color--primary:disabled:hover {
  background-color: var(--color-neutral-100);
}

/* Button Icon Size */
.button__icon {
  height: 20px;
  width: 20px;
}
.button__icon--size--md {
  width: 20px;
  height: 20px;
}
.button__icon--size--lg {
  width: 20px;
  height: 20px;
}
.button__icon--size--xl {
  width: 20px;
  height: 20px;
}
.button__icon--size--2xl {
  width: 24px;
  height: 24px;
}
