.container {
  padding-top: 112px;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
}

.text-inputs {
  width: 340px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}
