.container {
  padding-top: 112px;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea-variants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  width: 340px;
}

.textarea-variants__textarea {
  height: 160px;
}

.textarea-variants__textarea:nth-child(2) {
  height: 155px;
}
